.header {
    display: flex;
    background-color: burlywood;
    justify-content: center;
}


.description{
    display: flex;
    font-size: 20px;
    font-style: normal;
 text-align: center;
 color: black;
 background-color: burlywood;
 
}
/** {
  border: solid;
}*/
.grid {
  display: flex;
 
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: green;
  justify-content: center;
}